/* Definición de fuentes personalizadas */
@font-face {
    font-family: eacologia; /* Nombre de la fuente personalizada para usar en estilos */
    src: url(../../fuentes/eacologica-round-slab-ffp.otf); /* Ruta al archivo de fuente "eacologica-round-slab-ffp" */
}

@font-face {
    font-family: colville; /* Nombre de la fuente personalizada "coville" */
    src: url(../../fuentes/Colville-Medium.otf); /* Ruta al archivo de fuente "Colville-Medium" */
}

/* Estilo general del cuerpo */
body {
    margin: 0; /* Elimina el espacio exterior predeterminado del cuerpo */
    font-family: colville; /* Define la fuente principal con opciones de respaldo */
}

/* Estilo para los enlaces */
a {
    display: flex; /* Flexbox para controlar la disposición de elementos dentro de los enlaces */
    align-items: center; /* Centra verticalmente los contenidos dentro del enlace */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

header { 
    height: 8rem; /*Definicion de la altura del header*/
    display: flex; 
    justify-content: center; /*Elementos alineados horizontalmente al centro*/
    background-color: #67ee72; /*Definición del color de fondo del header*/
    border-bottom: solid green 0.2em; /*Borde en la parte inferior del header*/
}

header a {
    display: flex;
    align-items: center; /*Alinear los objetos al centro en el eje vertical*/
    text-decoration: none; /*Quitar subrayado del texto predeterminado de los enlaces*/
}

header img {
    /*Establecimiento del tamaño de las imagenes proporcional al tamaño del header*/
    width: 6em; 
    height: 6em;
}

header h1 {
    display: inline; /*Cambiar tipo de elemento de bloque (predeterminado de títulos) a elemento de línea para que encaje en el header con el logo*/
    color:white; /*Definición del color del texto*/
    font-family: eacologia; /*Definición de fuente del texto*/
    font-size: 3.5em; /*Definición del tamaño del texto proporcional al elemento padre*/
    -webkit-text-stroke: black 0.02em; /*Atributo que he encontrado para aplicar delineado al texto (-webkit-text-stroke:(color, ancho del delineado))*/

}

/*NAV*/
nav {
    display: flex;
    justify-content: center;
    background-color: #67ee72;
}

nav a {
    padding: 1em; /*Definicion de padding para hacer mas alto el nav y a la vez conseguir que cuando se pase el raton alrededor del enlace tambien funcione*/
    /*Paddings para separar los enlaces y para lo mencionado anteriormente*/ 
    padding-right: 2.5%;
    padding-left: 2.5%;
    /*Márgenes para que haya un espacio que no funcione como enlace alrededor de los "botones"*/
    margin-left: 1%; 
    margin-right: 1%;
    text-decoration: none; /*Quitar subrayado del texto predeterminado de los enlaces*/
    color: black;
    font-size: 1em; /*Establecer tamaño de fuente*/
    border-bottom: solid 0.25em #67ee72; /*Para que luego con el hover, no se altere el tamaño*/
}

nav a:hover {
    border-bottom: solid 0.25em green;
    transition: 0.75s;
}

/* Estilo para el contenido principal */
main {
    margin: 1% 3%; /* Margen externo para separar el contenido del borde del viewport */
}

main h1 {
    display: flex; /* Flexbox para alinear el encabezado */
    justify-content: center; /* Centra horizontalmente el encabezado principal */
    font-size: 2.5em; /* Tamaño de la fuente del encabezado principal */
    color: rgb(50, 168, 82); /* Color verde del texto */
    font-family: planetaJuguete, sans-serif; /* Usa la fuente personalizada con respaldo sans-serif */
}

/* Estilo para el texto dentro de la sección */
section p {
    display: flex; /* Flexbox para alinear el texto */
    justify-content: center; /* Centra el párrafo horizontalmente */
    color: rgb(50, 168, 82); /* Aplica un color verde al texto */
    font-family: planetaJuguete, sans-serif; /* Usa la fuente personalizada planetaJuguete */
}

/* Estilo para la imagen dentro de la sección */
section img {
    width: 20em; /* Ancho fijo de la imagen */
    height: 20em; /* Alto fijo de la imagen */
    border-radius: 5px; /* Bordes redondeados con un radio de 5px */
    margin-left: 34em; /* Mueve la imagen a la derecha con un margen izquierdo */
    margin-top: 2em; /* Espacio superior para separar la imagen del contenido anterior */
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    margin-top: 4%; /*Margen que separa el main del footer*/
    background-color: #67ee72; 
}

footer section {
    /*Establecer margenes arriba y abajo de los contenedores section que hay dentro del footer*/
    margin-top: 0.75%; 
    margin-bottom: 1.5%;
}

footer h3 {
    color: black;
    font-size: 0.9em;
    text-decoration: underline 0.15em green;
    
}

footer a {
    text-decoration: none; 
    color: black;
    font-size: 0.8em;
}

footer a::after { /*Pseudoelemento que esta posicionado despues del elemento*/
    content: " ←";
    display: none; /*No se ve*/
}

footer a:active:after { /*Pseudoclase del pseudoelemento anterior que da estilo cuando se pulsa el enlace*/
    display: inline; /*Se ve*/
    font-size: 1.5em;
}

@media (max-width: 570px) { /*Media query para dispositivos de menos de 600 px de resolucion*/
    header img {
        width: 5em;
        height: 5em;
    }

    header h1 {
        font-size: 2.25em;
    }
    
    nav {
        font-size: 0.75em;
        justify-content: space-around   ;
    }

    #intro h2 {
        font-size: 1rem;
    }

    .pMain1 {
        font-size: 0.75em;
        margin-left: 15%;
        margin-right: 15%;
    }

    #bloqueimg img {
        width: 7.5em;
    }

    #parallax {
        height: 5em;
    }

    main h1 {
        font-size: 1.25em;
        margin-bottom: 7%;
    }

    footer h3{
        font-size: 0.65em;
    }
    
    footer a {
        font-size: 0.55em;
    }
}