@font-face { /*Añadir fuente que no esta dentro de html*/
    font-family: eacologia;
    src: url(../../fuentes/eacologica-round-slab-ffp.otf);
}

@font-face { /*Añadir fuente que no esta dentro de html*/
    font-family: colville;
    src: url(../../fuentes/Colville-Medium.otf);
}

body {
    margin: 0; /*Margen del body establecido en 0 para quitarlo*/
    font-family: colville;
}

a:active { /*Pseudoclase que añade estilo cuando el enlace este esta siendo pulsado*/
    color: green; /*Cambia el color a verde mas oscuro*/
}

a:hover { /*Pseudoclase que añade estilo cuando se pasa el cursor por encima un enlace*/
    color: green; 
    transition:0.1s; /*En 0.1 segundos*/
}

/*HEADER*/
header { 
    height: 8rem; /*Definicion de la altura del header*/
    display: flex; 
    justify-content: center; /*Elementos alineados horizontalmente al centro*/
    background-color: #67ee72; /*Definición del color de fondo del header*/
    border-bottom: solid green 0.2em; /*Borde en la parte inferior del header*/
}

header a {
    display: flex;
    align-items: center; /*Alinear los objetos al centro en el eje vertical*/
    text-decoration: none; /*Quitar subrayado del texto predeterminado de los enlaces*/
}

header img {
    /*Establecimiento del tamaño de las imagenes proporcional al tamaño del header*/
    width: 6em; 
    height: 6em;
}

header h1 {
    display: inline; /*Cambiar tipo de elemento de bloque (predeterminado de títulos) a elemento de línea para que encaje en el header con el logo*/
    color:white; /*Definición del color del texto*/
    font-family: eacologia; /*Definición de fuente del texto*/
    font-size: 3.5em; /*Definición del tamaño del texto proporcional al elemento padre*/
    -webkit-text-stroke: black 0.02em; /*Atributo que he encontrado para aplicar delineado al texto (-webkit-text-stroke:(color, ancho del delineado))*/

}

/*NAV*/
nav {
    display: flex;
    justify-content: center;
    background-color: #67ee72;
}

nav a {
    padding: 1em; /*Definicion de padding para hacer mas alto el nav y a la vez conseguir que cuando se pase el raton alrededor del enlace tambien funcione*/
    /*Paddings para separar los enlaces y para lo mencionado anteriormente*/ 
    padding-right: 2.5%;
    padding-left: 2.5%;
    /*Márgenes para que haya un espacio que no funcione como enlace alrededor de los "botones"*/
    margin-left: 1%; 
    margin-right: 1%;
    text-decoration: none; /*Quitar subrayado del texto predeterminado de los enlaces*/
    color: black;
    font-size: 1em; /*Establecer tamaño de fuente*/
    border-bottom: solid 0.25em #67ee72; /*Para que luego con el hover, no se altere el tamaño*/
}

nav a:hover {
    border-bottom: solid 0.25em green;
    transition: 0.75s;
}

/*MAIN*/
main {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

h1, p {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid green;
    border-radius: 1em;
    background-color: #67ee72;
    color:green;
    font-size: 1em;
    padding:2%;
}

input{
    font-size: 1em;
    border-radius: 0.4em;
    margin-bottom: 2%;
    width: 20em;
}

textarea {
    width: 100%;
    border-radius: 0.8em;
    margin-bottom: 2%;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    margin-top: 4%; /*Margen que separa el main del footer*/
    background-color: #67ee72; 
}

footer section {
    /*Establecer margenes arriba y abajo de los contenedores section que hay dentro del footer*/
    margin-top: 0.75%; 
    margin-bottom: 1.5%;
}

footer h3 {
    color: black;
    font-size: 0.9em;
    text-decoration: underline 0.15em green;
    
}

footer a {
    text-decoration: none; 
    color: black;
    font-size: 0.8em;
}

footer a::after { /*Pseudoelemento que esta posicionado despues del elemento*/
    content: " ←";
    display: none; /*No se ve*/
}

footer a:active:after { /*Pseudoclase del pseudoelemento anterior que da estilo cuando se pulsa el enlace*/
    display: inline; /*Se ve*/
    font-size: 1.5em;
}

@media (max-width: 570px) { /*Media query para dispositivos de menos de 600 px de resolucion*/
    header img {
        width: 5em;
        height: 5em;
    }

    header h1 {
        font-size: 2.25em;
    }
    
    nav {
        font-size: 0.75em;
        justify-content: space-around   ;
    }

    main h1 {
        font-size: 1.25em;
        margin-bottom: 7%;
    }

    footer h3{
        font-size: 0.65em;
    }
    
    footer a {
        font-size: 0.55em;
    }

    main p {
        font-size: 0.75em;
    }

    form {
        font-size: 0.75em;
    }

}